.main-programms {
    margin-bottom: 90px;
    margin-top: -130px;
    position: relative;
    z-index: 100;

    & .container {
        display: block;
    }

    & figcaption {
        border: 1px solid var(--color-braun-light);
    }

    & .owl-navigation {
        bottom: -14px;

        @include lg {
            bottom: -9px;
        }
    }

    & .programms-navigation {
        display: inline-flex;
        background-color: var(--color-white);
        border-radius: 100px;
        margin-bottom: 79px;


        & a {
            font-family: $font-play;
            font-size: 32px;
            line-height: 48px;
            font-weight: 700;
            color: var(--color-gray);
            display: flex;
            justify-content: center;
            padding: 45px 83px;
            border-radius: 100px;
            white-space: nowrap;
            width: 550px;
            @include transition(all, 0.2s);

            &.active {
                background-color: var(--color-orange);
                color: var(--color-white);
            }

            @media(max-width: 1850px) {
                width: 450px;
                font-size: 30px;
                line-height: 46px;
            }

            @media(max-width: 1460px) {
                width: 370px;
                font-size: 24px;
                line-height: 40px;
            }

            @media(max-width: 1290px) {
                padding: 25px 80px;
            }

            @media(max-width: 1200px) {
                width: 300px;
                font-size: 20px;
                line-height: 36px;
            }

            @include lg {
                font-size: 16px;
                line-height: 24px;
                width: 229px;
                padding: 25px 15px;
            }
        }

        & li:last-child a {
            @media(max-width: 1850px) {
                width: 350px;
            }

            @media(max-width: 1290px) {
                width: 250px;
            }

            @media(max-width: 1055px) {
                width: 150px;
            }

            @include lg {
                width: 180px;
            }
        }

        @include lg {
            margin-bottom: 40px;
        }
    }

    & .programms-tabs {
        position: relative;

        & .programms-tab {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            @include transition(opacity, 0.2s);

            &.active {
                position: relative;
                opacity: 1;
            }
        }
    }

    @include lg {
        margin-top: -40px;
        margin-bottom: 40px;
    }
}