header .cart {
    margin-bottom: 0;
}

.cart {
    position: relative;

    & .number {
        position: absolute;
        top: -11px;
        left: -9px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-white);
        font-family: $font-open;

        @include lg {
            font-size: 10px;
            font-weight: 600;
            width: 13px;
            height: 13px;
            top: 3px;
            left: 0px;
        }

    }

    & svg {
        @include lg {
            height: 27px;
        }
    }
}