nav.main-menu {
    margin-left: auto;

    & form {
        display: none;
    }

    & ul {
        list-style: none;
        display: flex;
        font-family: $font-play;
        gap: 50px;
        margin: 0;
        padding: 0;

        & li {
            position: relative;
            padding: 10px 0;

            & ul {
                opacity: 0;
                transform: translateY(-25px);
                position: absolute;
                @include transition(all, 0.2s);
                z-index: -1;
                flex-direction: column;
                gap: 15px;
                background-color: var(--color-white);
                border-radius: 30px;
                box-shadow: 4px 9px 70px 10px #0000001A;
                margin: 0;
                padding: 0;
                width: 330px;
                padding: 20px;

                & a {
                    font-weight: normal;
                    color: var(--color-black-medium);
                    line-height: 36px;
                    padding: 0;
                }

                & li {
                    padding: 0;
                }
            }

            &:hover ul {
                transform: translateY(0);
                opacity: 1;
                z-index: 99;
            }
        }



        & a {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            color: var(--color-gray);
            display: flex;
            align-items: center;
            gap: 8px;
            display: block;
            @include transition(color, 0.2s);

            &.active {
                color: var(--color-black-medium);
            }

            &:hover {
                color: var(--color-black-medium);
            }
        }
    }

    @include lg {
        position: absolute;
        right: 0;
        width: 100%;
        top: calc(100% - 15px);
        opacity: 0;
        height: 0;
        overflow: hidden;
        transform: translateY(-50px);
        background: var(--color-black-medium);
        border-radius: 20px 20px 0 0;
        @include transition(all, 0.2s);
        z-index: 0;

        & ul {
            flex-direction: column;
            max-width: $max-lg-width;
            margin: 0 auto;
            padding: 20px 0;
            gap: 14px;

            & li {
                padding: 0;

                & a {
                    color: var(--color-white);
                    font-size: 16px;
                    line-height: 24px;

                    &.color-orange {
                        color: var(--color-white) !important;
                    }

                    & svg {
                        display: none;
                    }

                    &.active {
                        color: var(--color-white);
                    }
                }

                & ul {
                    display: block;
                    opacity: 1;
                    transform: none;
                    position: relative;
                    background: none;
                    box-shadow: none;
                    padding: 0;
                    margin: 0;
                    border-radius: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    margin-top: 10px;
                    margin-bottom: -4px;

                    & li {
                        & a {
                            color: var(--color-white);
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        &.opened {
            opacity: 1;
            transform: translateY(0);
            z-index: 4;
            display: block;
            height: calc(100vh - 72px);
        }

        & form {
            display: block;
            max-width: $max-lg-width;
            margin: 0 auto;

            & .form-control {
                height: 60px;
                background: #FFFFFF33;
                background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 15C12.2018 15 15 12.2018 15 8.75C15 5.29822 12.2018 2.5 8.75 2.5C5.29822 2.5 2.5 5.29822 2.5 8.75C2.5 12.2018 5.29822 15 8.75 15Z" stroke="%23C4C4C4" stroke-opacity="0.38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.5003 17.5001L13.167 13.1667" stroke="%23C4C4C4" stroke-opacity="0.38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') 10px center no-repeat #FFFFFF33;
                border-radius: 10px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                font-family: $font-play;
                color: var(--color-white);
                padding-left: 40px;
            }

            & ::placeholder {
                color: #DADADA4F;
            }
        }
    }
}