.download-list {
    display: flex;
    flex-direction: column;
    gap: 35px;

    & .download-item {
        font-size: 32px;
        line-height: 48px;
        display: flex;
        align-self: flex-start;

        & p {
            margin: 0;
            padding: 0;
        }

        & .download-icons {
            display: flex;
            gap: 32px;
        }
    }
}