.marked-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & li {
        display: flex;
        gap: 20px;

        &:before {
            display: block;
            width: 20px;
            height: 20px;
            background-color: var(--color-orange);
            border-radius: 50%;
            content: " ";
            flex-shrink: 0;
            margin-top: 7px;

            @include lg {
                margin-top: 3px;
            }
        }

        @include lg {
            gap: 9px;
        }
    }
}