.page-text {
    font-size: 32px;
    line-height: 48px;

    & h3 {
        margin-bottom: 30px;
    }

    & .marked-list li:before {
        margin-top: 14px;
    }

    & .orange-frame {
        border-radius: 50px;
        padding: 40px;
    }
}