.scroll-up {
    position: fixed;
    width: 90px;
    height: 90px;
    background: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    bottom: 20px;
    right: 72px;
    display: none;
    z-index: 9;

    &.active {
        display: block;
    }
}