.scroll-up {
    position: fixed;
    width: 90px;
    height: 90px;
    background: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    bottom: 20px;
    right: 72px;
    display: none;
    z-index: 999;

    &.active {
        display: block;
    }

    @include lg {
        width: 65px;
        height: 65px;
        right: 15px;

        & svg {
            width: 25px;
        }
    }
}