.filter {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: $font-play;

    & button {
        border-radius: 30px;
        color: var(--color-black-medium);
        padding: 14px;
        border: 1px solid var(--color-orange);
        width: 335px;
        background: var(--color-white);
        cursor: pointer;

        &.active {
            background-color: var(--color-orange);
            color: var(--color-white);
            font-weight: 700;
        }
    }

    & .filter-selector {
        border: 1px solid var(--color-black-medium);
        font-weight: 700;
        width: auto;
        padding: 14px 40px;
    }

    & .filter-buttons {
        display: flex;
        gap: 45px;
        align-items: stretch;
    }
}