.programs-cards {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 90px;

    &.cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    & .card-textpane {
        font-weight: 700;
        font-family: $font-play;
        font-size: 32px;
        line-height: 48px;
    }
}