:root {
    --color-white: #ffffff;
    --color-gray: #888888;
    --color-gray-medium: #C4C4C4;
    --color-gray-light: #DADADA;
    --color-black: #000000;
    --color-black-medium: #272727;
    --color-orange: #EC691F;
    --color-braun: #F0BB81;
    --color-braun-light: #FBECD9;
    --color-red: #C9191B;
    --color-red-medium: #FFDADA;
    --color-yellow: #FFE211;
}

$max-width: 1882px;