.login-form {
    & .form-link {
        width: 50%;
    }

    & .form-alert {
        width: 50%;
        flex-shrink: 0;
        font-size: 14px;
        line-height: 21px;
        color: var(--color-red);
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }
}