.footer-socials {
    & ul {
        display: flex;
        gap: 30px;

        @include lg {
            gap: 10px;
        }
    }

    @include lg {
        & img {
            width: 32px;
            height: 32px;
        }

        margin-top: 10px;
    }
}